@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll; /* Always show scrollbar to prevent layout shift */
  }
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
    min-width: 1280px; /* Force desktop view on mobile */
    overflow-x: auto;
  }
}
